# file extentions

*.pkl
*.ram
*.env
*.db
*.state

# folders

__pycache__/
venv/
.idea/

# speciffic files:

utilities/config.json
data/bot_state.json
data/wordle_state.json
data/wordle_stats.json
data/messages.csv
data/assets/petting/*
!data/assets/petting/template.gif