# file extentions

*.pkl
*.ram
*.env
*.db
*.state
*.sqlite3

# folders

__pycache__/
venv/
.idea/

# speciffic files:

static/config.json
static/free_game_state.json
static/wordle_state.json
static/wordle_stats.json
static/messages.csv
static/pins.json

static/assets/petting/*
!static/assets/petting/template.gif