# file extentions

*.pkl
*.ram
*.env
*.db
*.state
*.sqlite3

# folders

__pycache__/
venv/
.idea/

# speciffic files:

app/static/config.json
app/static/free_game_state.json
app/static/wordle_state.json
app/static/wordle_stats.json
app/static/messages.csv
app/static/pins.json

app/static/assets/petting/*
!app/static/assets/petting/template.gif